.accordion.accordion-track .card .card-header {
    /* background-color: red; */
    /* color:white; */
    border-bottom: 1px solid rgb(233, 233, 233);
}

.accordion.accordion-track .card .card-header .accordion.accordion-track .card .card-body div .wrapper {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.wrapper-accordion {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.card-head div {
    width: 25%;
    text-align: center;
}

.accordion-track .card-item .card-header div .info-group span {
    font-family: 'Exo-SemiBold', sans-serif;
    font-size: 12px;
    color: #7081a0;
    line-height: 1.5;
    text-transform: uppercase;
    /* text-align: left !important;*/
}


/* REVISAR ESTE CÓDIGO*/

/* ACCORDION PARA MOSTRAR SEGUIMIENTO*/
.card-head div {
    width: 25%;
    text-align: center;
}

.card-head div {
    font-family: 'Exo-SemiBold', sans-serif;
}

.accordion.accordion-track .card .card-header {
    border-bottom: 1px solid rgb(233, 233, 233);
}

.accordion.accordion-track .card .card-header .accordion.accordion-track .card .card-body div .wrapper {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.wrapper-accordion {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.accordion-track .card-item .card-header div {
    width: 25%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.accordion-track .card-item .card-header div div {
    width: auto;
}

.accordion-track .card-item .card-header {
    background: white !important;
}

.accordion-track .card-item .card-header:hover {
    background: #f8f8f8 !important;
}

.accordion-track .card-item .card-header div:first-child .info-group {
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-content: center;
}


/*************************************************************************************************/

/*Nuevo Step Propgress Vertical*/

.accordion.accordion-track .card .card-header {
    /* background-color: red; */
    /* color:white; */
    border-bottom: 1px solid rgb(233, 233, 233);
}

/* .accordion.accordion-track .card .card-header */

.accordion.accordion-track .card .card-body div .wrapper {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.wrapper-accordion {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.card-head div {
    font-family: 'Exo-SemiBold', sans-serif;
}

.accordion.accordion-track .card .card-header {
    /* background-color: red; */
    /* color:white; */
    border-bottom: 1px solid rgb(233, 233, 233);
}

.accordion.accordion-track .card .card-header .accordion.accordion-track .card .card-body div .wrapper {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.wrapper-accordion {
    width: 50% !important;
    /*330px*/
    margin: 0 auto !important;
    font-family: 'Helvetica';
    font-size: 14px;
}

.accordion-track .card-item .card-header div {
    width: 25%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.accordion-track .card-item .card-header div div {
    width: auto;
}

.StepProgress-item.is-cancel .card-motivo {
    text-transform: none;
}

.accordion-track .card-item .card-header {
    background: white !important;
}

.accordion-track .card-item .card-header div div {
    width: auto;
}

.accordion-track .card-item .card-header {
    background: white !important;
}

.accordion-track .card-item .card-header:hover {
    background: #f8f8f8 !important;
}