/*GLIBRERÍA DE COLORES*/


$primary-50: #E6E9F8;
$primary-100: #D7DCF8;
$primary-200: #B6BFF2;
$primary-300: #9AA5E5;
$primary-400: #7C8AD9;
$primary-500: #7C8AD9;
$primary-600: #3D4DA6;
$primary-700: #23338C;
$primary-800: #1C2A75;
$primary-900: #172260;

$secondary-50:#FEDCC8;
$secondary-100:#FFCBAC;
$secondary-200:#FFAF80;
$secondary-300:#FF8F4D;
$secondary-400:#FF7F33;
$secondary-500:#FF6E1A;
$secondary-600:#E55500;
$secondary-700:#CC4C00;
$secondary-800:#B74705;
$secondary-900:#A94104;

$terciary-50:#F1F3F8;
$terciary-100:#EAECF3;
$terciary-200:#D3D7E3;
$terciary-300:#BABECC;
$terciary-400:#9DA2B2;
$terciary-500:#7F859A;
$terciary-600:#5C6480;
$terciary-700:#3F4866;
$terciary-800:#353E5C;
$terciary-900:#2B334B;

$neutro-50:#F0F6F9;
$neutro-100:#BBF5DD;
$neutro-200:#A0F1CF;
$neutro-300:#63E5AF;
$neutro-400:#43CC93;
$neutro-500:#20AB71;
$neutro-600:#149962;
$neutro-700:#04804C;
$neutro-800:#037545;
$neutro-900:#02663C;

$alert-50:#FFE0E4;
$alert-100:#FFB7C1;
$alert-200:#FF8898;
$alert-300:#FF6379;
$alert-400:#FF4A63;
$alert-500:#EB2D47;
$alert-600:#D1132D;
$alert-700:#B80019;
$alert-800:#A7031A;
$alert-900:#900619;




